################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASFS/ASFS.Api/bin/Debug/net9.0/cs
/ASFS/ASFS.Api/bin/Debug/net9.0/de
/ASFS/ASFS.Api/bin/Debug/net9.0/es
/ASFS/ASFS.Api/bin/Debug/net9.0/fr
/ASFS/ASFS.Api/bin/Debug/net9.0/it
/ASFS/ASFS.Api/bin/Debug/net9.0/ja
/ASFS/ASFS.Api/bin/Debug/net9.0/ko
/ASFS/ASFS.Api/bin/Debug/net9.0/pl
/ASFS/ASFS.Api/bin/Debug/net9.0/pt-BR
/ASFS/ASFS.Api/bin/Debug/net9.0/ru
/ASFS/ASFS.Api/bin/Debug/net9.0/tr
/ASFS/ASFS.Api/bin/Debug/net9.0/zh-Hans
/ASFS/ASFS.Api/bin/Debug/net9.0/zh-Hant
/ASFS/ASFS.Api/bin/Debug/net9.0/appsettings.json
/ASFS/ASFS.Api/bin/Debug/net9.0/ASFS.Api.deps.json
/ASFS/ASFS.Api/bin/Debug/net9.0/ASFS.Api.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/ASFS.Api.exe
/ASFS/ASFS.Api/bin/Debug/net9.0/ASFS.Api.pdb
/ASFS/ASFS.Api/bin/Debug/net9.0/ASFS.Application.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/ASFS.Application.pdb
/ASFS/ASFS.Api/bin/Debug/net9.0/ASFS.Domain.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/ASFS.Domain.pdb
/ASFS/ASFS.Api/bin/Debug/net9.0/ASFS.Infrastructure.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/ASFS.Infrastructure.pdb
/ASFS/ASFS.Api/bin/Debug/net9.0/Humanizer.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/Microsoft.Build.Locator.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/Microsoft.CodeAnalysis.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Design.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/Mono.TextTemplating.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/System.CodeDom.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/System.Composition.AttributedModel.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/System.Composition.Convention.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/System.Composition.Hosting.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/System.Composition.Runtime.dll
/ASFS/ASFS.Api/bin/Debug/net9.0/System.Composition.TypedParts.dll
/ASFS/ASFS.Application/bin/Debug/net9.0/ASFS.Application.deps.json
/ASFS/ASFS.Application/bin/Debug/net9.0/ASFS.Application.dll
/ASFS/ASFS.Application/bin/Debug/net9.0/ASFS.Application.pdb
/ASFS/ASFS.Application/bin/Debug/net9.0/ASFS.Domain.dll
/ASFS/ASFS.Application/bin/Debug/net9.0/ASFS.Domain.pdb
/ASFS/ASFS.Application/bin/Debug/net9.0/ASFS.Infrastructure.dll
/ASFS/ASFS.Application/bin/Debug/net9.0/ASFS.Infrastructure.pdb
/ASFS/ASFS.Application/obj/Debug/net9.0/ref/ASFS.Application.dll
/ASFS/ASFS.Application/obj/Debug/net9.0/refint/ASFS.Application.dll
/ASFS/ASFS.Application/obj/Debug/net9.0/ASFS.Application.AssemblyInfo.cs
/ASFS/ASFS.Application/obj/Debug/net9.0/ASFS.Application.AssemblyInfoInputs.cache
/ASFS/ASFS.Application/obj/Debug/net9.0/ASFS.Application.assets.cache
/ASFS/ASFS.Application/obj/Debug/net9.0/ASFS.Application.csproj.AssemblyReference.cache
/ASFS/ASFS.Application/obj/Debug/net9.0/ASFS.Application.csproj.CoreCompileInputs.cache
/ASFS/ASFS.Application/obj/Debug/net9.0/ASFS.Application.csproj.FileListAbsolute.txt
/ASFS/ASFS.Application/obj/Debug/net9.0/ASFS.Application.dll
/ASFS/ASFS.Application/obj/Debug/net9.0/ASFS.Application.GeneratedMSBuildEditorConfig.editorconfig
/ASFS/ASFS.Application/obj/Debug/net9.0/ASFS.Application.pdb
/ASFS/ASFS.Application/obj/Debug/net9.0/ASFS.Application.sourcelink.json
/ASFS/ASFS.Application/obj/ASFS.Application.csproj.nuget.dgspec.json
/ASFS/ASFS.Application/obj/ASFS.Application.csproj.nuget.g.targets
/ASFS/ASFS.Application/obj/project.assets.json
/ASFS/ASFS.Application/obj/project.nuget.cache
/ASFS/ASFS.Domain/bin/Debug/net9.0/ASFS.Domain.dll
/ASFS/ASFS.Domain/bin/Debug/net9.0/ASFS.Domain.pdb
/ASFS/ASFS.Domain/obj/ASFS.Domain.csproj.nuget.dgspec.json
/ASFS/ASFS.Domain/obj/ASFS.Domain.csproj.nuget.g.props
/ASFS/ASFS.Domain/obj/Debug/net9.0/ASFS.Domain.AssemblyInfo.cs
/ASFS/ASFS.Domain/obj/Debug/net9.0/ASFS.Domain.AssemblyInfoInputs.cache
/ASFS/ASFS.Domain/obj/Debug/net9.0/ASFS.Domain.assets.cache
/ASFS/ASFS.Domain/obj/Debug/net9.0/ASFS.Domain.csproj.CoreCompileInputs.cache
/ASFS/ASFS.Domain/obj/Debug/net9.0/ASFS.Domain.csproj.FileListAbsolute.txt
/ASFS/ASFS.Domain/obj/Debug/net9.0/ASFS.Domain.dll
/ASFS/ASFS.Domain/obj/Debug/net9.0/ASFS.Domain.GeneratedMSBuildEditorConfig.editorconfig
/ASFS/ASFS.Domain/obj/Debug/net9.0/ASFS.Domain.pdb
/ASFS/ASFS.Domain/obj/Debug/net9.0/ASFS.Domain.sourcelink.json
/ASFS/ASFS.Domain/obj/Debug/net9.0/ref/ASFS.Domain.dll
/ASFS/ASFS.Domain/obj/Debug/net9.0/refint/ASFS.Domain.dll
/ASFS/ASFS.Domain/obj/project.assets.json
/ASFS/ASFS.Domain/obj/project.nuget.cache
/ASFS/ASFS.Api/obj/ASFS.Api.csproj.EntityFrameworkCore.targets
/ASFS/ASFS.Api/obj/ASFS.Api.csproj.nuget.dgspec.json
/ASFS/ASFS.Api/obj/ASFS.Api.csproj.nuget.g.props
/ASFS/ASFS.Api/obj/ASFS.Api.csproj.nuget.g.targets
/ASFS/ASFS.Api/obj/Debug/net9.0/ASFS.Api.AssemblyInfo.cs
/ASFS/ASFS.Api/obj/Debug/net9.0/ASFS.Api.AssemblyInfoInputs.cache
/ASFS/ASFS.Api/obj/Debug/net9.0/ASFS.Api.assets.cache
/ASFS/ASFS.Api/obj/Debug/net9.0/ASFS.Api.csproj.AssemblyReference.cache
/ASFS/ASFS.Api/obj/Debug/net9.0/ASFS.Api.csproj.CoreCompileInputs.cache
/ASFS/ASFS.Api/obj/Debug/net9.0/ASFS.Api.csproj.FileListAbsolute.txt
/ASFS/ASFS.Api/obj/Debug/net9.0/ASFS.Api.dll
/ASFS/ASFS.Api/obj/Debug/net9.0/ASFS.Api.GeneratedMSBuildEditorConfig.editorconfig
/ASFS/ASFS.Api/obj/Debug/net9.0/ASFS.Api.genruntimeconfig.cache
/ASFS/ASFS.Api/obj/Debug/net9.0/ASFS.Api.pdb
/ASFS/ASFS.Api/obj/Debug/net9.0/ASFS.Api.sourcelink.json
/ASFS/ASFS.Api/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/ASFS/ASFS.Api/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/ASFS/ASFS.Api/obj/Debug/net9.0/rpswa.dswa.cache.json
/ASFS/ASFS.Api/obj/project.assets.json
/ASFS/ASFS.Api/obj/project.nuget.cache
/ASFS/ASFS.Api/obj/Debug/net9.0/ref/ASFS.Api.dll
/ASFS/ASFS.Api/obj/Debug/net9.0/refint/ASFS.Api.dll
/ASFS/ASFS.Api/obj/Debug/net9.0/apphost.exe
/ASFS/ASFS.Infrastructure/bin/Debug/net9.0/ASFS.Domain.dll
/ASFS/ASFS.Infrastructure/bin/Debug/net9.0/ASFS.Domain.pdb
/ASFS/ASFS.Infrastructure/bin/Debug/net9.0/ASFS.Infrastructure.deps.json
/ASFS/ASFS.Infrastructure/bin/Debug/net9.0/ASFS.Infrastructure.dll
/ASFS/ASFS.Infrastructure/bin/Debug/net9.0/ASFS.Infrastructure.pdb
/ASFS/ASFS.Infrastructure/bin/Debug/net9.0/ASFS.Infrastructure.runtimeconfig.json
/ASFS/ASFS.Infrastructure/obj/Debug/net9.0/ref/ASFS.Infrastructure.dll
/ASFS/ASFS.Infrastructure/obj/Debug/net9.0/refint/ASFS.Infrastructure.dll
/ASFS/ASFS.Infrastructure/obj/ASFS.Infrastructure.csproj.EntityFrameworkCore.targets
/ASFS/ASFS.Infrastructure/obj/ASFS.Infrastructure.csproj.nuget.dgspec.json
/ASFS/ASFS.Infrastructure/obj/ASFS.Infrastructure.csproj.nuget.g.props
/ASFS/ASFS.Infrastructure/obj/ASFS.Infrastructure.csproj.nuget.g.targets
/ASFS/ASFS.Infrastructure/obj/Debug/net9.0/ASFS.Infrastructure.AssemblyInfo.cs
/ASFS/ASFS.Infrastructure/obj/Debug/net9.0/ASFS.Infrastructure.AssemblyInfoInputs.cache
/ASFS/ASFS.Infrastructure/obj/Debug/net9.0/ASFS.Infrastructure.assets.cache
/ASFS/ASFS.Infrastructure/obj/Debug/net9.0/ASFS.Infrastructure.csproj.AssemblyReference.cache
/ASFS/ASFS.Infrastructure/obj/Debug/net9.0/ASFS.Infrastructure.csproj.CoreCompileInputs.cache
/ASFS/ASFS.Infrastructure/obj/Debug/net9.0/ASFS.Infrastructure.csproj.FileListAbsolute.txt
/ASFS/ASFS.Infrastructure/obj/Debug/net9.0/ASFS.Infrastructure.dll
/ASFS/ASFS.Infrastructure/obj/Debug/net9.0/ASFS.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/ASFS/ASFS.Infrastructure/obj/Debug/net9.0/ASFS.Infrastructure.genruntimeconfig.cache
/ASFS/ASFS.Infrastructure/obj/Debug/net9.0/ASFS.Infrastructure.pdb
/ASFS/ASFS.Infrastructure/obj/Debug/net9.0/ASFS.Infrastructure.sourcelink.json
/ASFS/ASFS.Infrastructure/obj/project.assets.json
/ASFS/ASFS.Infrastructure/obj/project.nuget.cache
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/cs
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/de
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/es
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/fr
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/it
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ja
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ko
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/pl
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/pt-BR
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ru
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/runtimes
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/tr
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/zh-Hans
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/zh-Hant
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_ASFS.UnitTests
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/appsettings.Development.json
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/appsettings.json
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.Api.deps.json
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.Api.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.Api.exe
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.Api.pdb
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.Api.runtimeconfig.json
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.Api.staticwebassets.endpoints.json
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.Application.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.Application.pdb
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.Domain.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.Domain.pdb
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.Infrastructure.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.Infrastructure.pdb
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.UnitTests.deps.json
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.UnitTests.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.UnitTests.pdb
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/ASFS.UnitTests.runtimeconfig.json
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Azure.Core.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Azure.Identity.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Azure.Security.KeyVault.Certificates.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Azure.Security.KeyVault.Secrets.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Castle.Core.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/CoverletSourceRootsMapping_ASFS.UnitTests
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.AspNetCore.Authentication.OpenIdConnect.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Bcl.AsyncInterfaces.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Data.SqlClient.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.Relational.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Extensions.Caching.Abstractions.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Extensions.Caching.Memory.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Extensions.Configuration.Abstractions.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Extensions.DependencyInjection.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Extensions.Logging.Abstractions.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Extensions.Logging.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Extensions.Options.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Extensions.Primitives.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Identity.Abstractions.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Identity.Client.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Identity.Client.Extensions.Msal.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Identity.Web.Certificate.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Identity.Web.Certificateless.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Identity.Web.Diagnostics.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Identity.Web.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Identity.Web.TokenAcquisition.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Identity.Web.TokenCache.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.IdentityModel.Abstractions.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.IdentityModel.JsonWebTokens.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.IdentityModel.Logging.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.IdentityModel.LoggingExtensions.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.IdentityModel.Tokens.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.IdentityModel.Validators.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.OpenApi.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.SqlServer.Server.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.TestPlatform.CoreUtilities.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.TestPlatform.Utilities.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Microsoft.Win32.SystemEvents.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Moq.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Newtonsoft.Json.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Swashbuckle.AspNetCore.Swagger.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/System.ClientModel.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/System.Configuration.ConfigurationManager.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/System.Drawing.Common.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/System.IdentityModel.Tokens.Jwt.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/System.Memory.Data.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/System.Runtime.Caching.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/System.Security.Cryptography.ProtectedData.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/System.Security.Permissions.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/System.Windows.Extensions.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/testhost.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/testhost.exe
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/xunit.abstractions.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/xunit.assert.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/xunit.core.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/xunit.execution.dotnet.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/xunit.runner.reporters.netcoreapp10.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/xunit.runner.utility.netcoreapp10.dll
/ASFS/ASFS.UnitTests/bin/Debug/net9.0/xunit.runner.visualstudio.testadapter.dll
/ASFS/ASFS.UnitTests/obj/Debug/net9.0/ref
/ASFS/ASFS.UnitTests/obj/Debug/net9.0/refint
/ASFS/ASFS.UnitTests/obj/ASFS.UnitTests.csproj.nuget.dgspec.json
/ASFS/ASFS.UnitTests/obj/ASFS.UnitTests.csproj.nuget.g.props
/ASFS/ASFS.UnitTests/obj/ASFS.UnitTests.csproj.nuget.g.targets
/ASFS/ASFS.UnitTests/obj/Debug/net9.0/ASFS.Uni.F2942157.Up2Date
/ASFS/ASFS.UnitTests/obj/Debug/net9.0/ASFS.UnitTests.AssemblyInfo.cs
/ASFS/ASFS.UnitTests/obj/Debug/net9.0/ASFS.UnitTests.AssemblyInfoInputs.cache
/ASFS/ASFS.UnitTests/obj/Debug/net9.0/ASFS.UnitTests.assets.cache
/ASFS/ASFS.UnitTests/obj/Debug/net9.0/ASFS.UnitTests.csproj.AssemblyReference.cache
/ASFS/ASFS.UnitTests/obj/Debug/net9.0/ASFS.UnitTests.csproj.CoreCompileInputs.cache
/ASFS/ASFS.UnitTests/obj/Debug/net9.0/ASFS.UnitTests.csproj.FileListAbsolute.txt
/ASFS/ASFS.UnitTests/obj/Debug/net9.0/ASFS.UnitTests.dll
/ASFS/ASFS.UnitTests/obj/Debug/net9.0/ASFS.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
/ASFS/ASFS.UnitTests/obj/Debug/net9.0/ASFS.UnitTests.genruntimeconfig.cache
/ASFS/ASFS.UnitTests/obj/Debug/net9.0/ASFS.UnitTests.pdb
/ASFS/ASFS.UnitTests/obj/Debug/net9.0/ASFS.UnitTests.sourcelink.json
/ASFS/ASFS.UnitTests/obj/project.assets.json
/ASFS/ASFS.UnitTests/obj/project.nuget.cache
/ASFS/obj/ASFS.Infrastructure.csproj.EntityFrameworkCore.targets
/ASFS.Infrastructure/obj/ASFS.Infrastructure.csproj.EntityFrameworkCore.targets
